{{#markdown}}

{{ name }} 
======
 ** Make sure users can find the information they're looking for - whether it's a webpage, 
 a product or something else. Card sorting helps to identify, refine or validate your 
 product's Information Architecture (the categorisations and taxonomy) with respect to 
 your users' mental model.
 **

 It can assist in answering questions about,
  * Navigation structure
  * Browsing through data/product hierarchies
  * Search refinements
  * Labels and hierarchies
All without  actually using your product.
 

## In a Nutshell
Card sorting exercises can be run in a number of ways. It really depends on what 
you're trying to determine and achieve.

For example as a telco you may provide customers with help & support articles - 
to better determine how to organise these you could run a card sorting exercise. 

A typical card sorting cohort is about 15-20 participants.

### Open card sort
The most common type of card sorting - used to discover categorisations and reveal 
a users mental model.
 1. Researcher selects a series of representative article titles (40-80) and prints 
 them onto index cards for the session.
 2. The participant is then asked to review the cards and group similar articles 
 together into piles. Piles can be big/small and there is no target number of piles. 
 3. After grouping is complete - ask the participant to label the grouped piles.
 4. Debrief and discuss their choices and thinking in the creation of the groups and labels.

### Closed card sort
Used to validate an existing categorisation. The key difference in a closed card sort, 
is that participants are asked to place cards into predefined categories provided by the 
researcher. This method is not as effective in understanding the users mental model; 
to better test and validate hierarches consider using tree testing.

Digital tools are available to run card sorts remotely, and without moderation. 


## When is it Typically Used?
Normally used in the design process to determine the user's mental model with respect 
to the organisation of data.


## Measures
Card sorts yield rich data that can be analysed and represented visually to further 
help and interpret patterns and associations across the cohort. 

A few of the tables/charts/graphics that can be generated are:
 * Dendrograms
 * Similarity matrices
 * Standardisation grids
Some of these are time consuming and difficult to produce manually so using automated tools are useful


## Real World Tips
  * Use talk aloud protocols during the session to better understand the participant's 
  thought process.
  * User created label names aren't always very good, so it's best to reinterpret and 
  create your own.
  * Digital card sorting tools, have built in analysis and data visualisation which make 
  it faster to interpret findings.
  * Remember, that this type of testing works out of product context and the interaction 
  design mechanisms deployed in the navigation will also influence the user's mental model.
  
  
## Positives
  * Can be low cost to run these sessions digitally. 
  * Provides a good way to begin understanding the users' mental model with regards to how they 
  understand your categorisations.
  * Don’t need to have created the digital product to run these tests.


## Drawbacks
  * Digital sorting sessions have one key drawback, in that you can’t observe the user's thought 
  process as you would in a physical card session.
  * With physical card based sessions the results need to be put into a system and further analysed.
  

## Example Scenario
See the example provided earlier - "In a nutshell" section.


## Useful Resources - Links
* <a href="https://www.usability.gov/how-to-and-tools/methods/card-sorting.html" rel="noopener" target="_blank">
  Card Sorting <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://www.nngroup.com/articles/card-sorting-definition/" rel="noopener" target="_blank">
  Card Sorting: Uncover Users' Mental Models for Better Information Architecture <span class="show-for-sr">(Opens in a new window)</span></a>

{{/markdown}}
