{{#markdown}}

{{ name }} 
======
 ** Gather attitudinal user feedback on ideas/concept early on in the design process. 
 Concept testing covers a range of methods for doing just this.
 **

It can be useful for getting feedback on a range of ideas and concepts, before they 
have actually been built or fully designed. It's also a way to gauge your product-market 
fit, and help steer design direction.


## In a Nutshell
Concept testing can take a number of different forms, from one-on-one to large number of 
participants and these can be in person or remote.

The primary focus across all of these methods is to gauge user attitudinal feedback 
early in the design phase using lo-fi prototypes or even mock-ups.

A simple concept test could be to show users three different app design screens for a 
new service and asking for their feedback around each one. This test wouldn't provide 
any feedback with regards to how each of those designs may actually perform, but it does 
gauge the preference a user would have to a particular design. Remember this is not a usability test.


## When is it Typically Used?
Typically used In the early design phase to help steer the product design direction 
and mitigate the risk of building a concept that user's don’t want or understand.


## Measures
Can be either qualitative or quantitative in nature, depending on the methods employed. 

In mainly qualitative concept tests the feedback would mainly be notes to the answers 
asked of the participants.

With larger numbers of participants the answers to questions may reside on a Likert or 
semantic differential scale which can be further analysed.



## Real World Tips
  * Analyse the feedback carefully as it is primarily attitudinal and not rooted in usability.
  * Try to keep concept tests simple, too many variants to review and the user may get confused.

## Positives
  * Concept tests don’t need complex prototypes as you're only gauging perceptive feedback.
  * In many instances concept testing can be run remotely.


## Drawbacks
  * Feedback provided doesn’t give much depth to why a user may not like a particular concept. 
  * Could provide improper feedback if the concept is not clearly defined, as concepts can 
  easily be misinterpreted. 
  


## Example Scenario
For a music service, a researcher may want to investigate which new app design is best received 
by their target audience. A concept test in this instance would involve showing participants the 
new designs and asking them questions about their preference for each one.


## Useful Resources - Links
* <a href="https://www.qualtrics.com/experience-management/product/how-concept-test/" rel="noopener" target="_blank">
  How to create a product concept test <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://www.lireo.com/the-value-of-concept-testing-for-user-experience-design/" rel="noopener" target="_blank">
  The value of concept testing for UX design <span class="show-for-sr">(Opens in a new window)</span></a>

{{/markdown}}
