{{#markdown}}

{{ name }} 
======
 ** Gather ongoing feedback from your users, usually from a simple widget readily 
 available on your web/app experience. **

 This type of method is not so much a study as mechanism for collecting feedback from 
 users who feel strongly enough about your service in order to give you feedback for 
 better or worse.
 

## In a Nutshell
A widget or similar mechanism is usually  deployed within the product experience that 
allows the user to provide feedback in the form of a comment along with an NPS type question.

This is not a study as the feedback is provided by users sporadically and self motivated, 
usually highlighting a good or bad experience. 

Feedback is subsequently reviewed and collated on a weekly or fortnightly basis to 
see if there are any trends or common themes.

This does make it a good barometer to see how users feel about the experience - 
especially to determine if new changes have a positive or negative impact. 
Similarly as this is all self-reported comments, it must be treated as anecdotal feedback.



## When is it Typically Used?
Usually deployed once a product is live and used as a tool to capture the "voice" of the customer.


## Measures
Primarily yields qualitative information anecdotally, structured questions can be 
included along with the free form comment. 


## Real World Tips
  * Easy to setup and gather customer  feedback using a number of plug-ins and third party tools.
  * When sharing specific customer feedback with stakeholders pre-warn them that this is the comment 
  of a single user and it's not necessarily representative of the user base.
  * Keep feedback buttons easily available so users don't need to hunt for them.
  * Don't make them obtrusive so that they obscure or inhibit the core experience.
  

## Positives
  * Ongoing low cost way of letting your users provide feedback. 
  * Can quickly action on negative feedback, and turn it into a positive outcome.


## Drawbacks
  * Is not a reliable indicator with regards to assessing user satisfaction of your product. 
  * Can only provide anecdotal feedback.
  * Usually only highlights cases of extremes, on the satisfaction scale i.e. those who've had a 
  terrible or outstanding experience with the product.  
  


## Example Scenario
On a fashion retail site , a feedback button could be placed throughout the shopping experience 
(without being intrusive) so users could provide feedback at any time during their journey.


## Useful Resources - Links
* <a href="https://usersnap.com/blog/feedback-button/" rel="noopener" target="_blank">
  25 Tools for Website Feedback Button and How to Set It Up <span class="show-for-sr">(Opens in a new window)</span></a>

{{/markdown}}
