{{#markdown}}

{{ name }} 
======
 ** Gauge the user's emotional response to your product's visual aesthetics and brand; 
 with a more comprehensive approach than just asking which design they prefer. **

 This research methods helps to better understand why a particular visual design or 
 brand style resonates with your users. Most importantly it can stop stakeholders from 
 pushing their design preferences over the users, and ensure your design communicates 
 the intended brand values.

 

## In a Nutshell
There are two approaches to running desirability studies, qualitative or quantitative.

### Qualitative
Participants are bought into a lab individually and shown a series of different product 
designs (they don’t have to be UIs they can be mood boards representative of your visual aesthetic).

The researcher gives the participant index cards with adjectives they can use to describe 
each of the designs. The adjectives used need to encompass both positive and negative attributes - 
Microsoft created a set of 118 adjectives that are commonly used for this type of study.

<a href="https://www.nngroup.com/articles/desirability-reaction-words/" rel="noopener" target="_blank">
    Microsoft Desirability Toolkit Product Reaction Words <span class="show-for-sr">(Opens in a new window)</span></a>

Users then go on to select 3-5 cards for each design, the researcher then asks follow up 
questions to understand their reasoning.

Results are collated and analysed, Venn diagrams are useful ways to present the findings with 
respect to the types of adjectives commonly used to describe the designs.

### Quantitative
This method simply scales the qualitative version with a larger sample to provide results with 
statistical significance. Instead of one-to-one sessions in a lab, to increase the cohort sizes - 
participants are sent a survey which asks the same question of the users using the cards to describe 
their choice, albeit without the follow-up probing by the researcher.


## When is it Typically Used?
Normally used in the design process to help validate and refine the user's emotional response 
to a particular design style or direction.


## Measures
In the qualitative lab variant, the follow up questioning that reveals the users reasoning is 
particularly valuable.

The quantitative version yields measures such as the frequency of selected adjectives, these can 
then be grouped by cohorts you've tested with (age groups, genders, variant user segments).


## Real World Tips
  * All 118 adjectives do not need to be used, filter those most pertinent to your design - 
  but ensure there is an even 60/40 split of positive/negative adjectives as per the original set.
  * When reporting metrics, avoid using absolute frequencies for adjectives and work with 
  percentages (i.e. 80% of users use the word 'Innovative').
  * Use desirability studies as a way to prevent individual stakeholder opinions rail 
  roading considered design choices. 
  
  

## Positives
  * Relatively low-cost to run, using either qualitative or quantitative approaches.
  * Provides genuine user feedback around aesthetics which can be difficult to extrapolate from users. 


## Drawbacks
  * The qualitative approach with small cohorts provides anecdotal insights, and can't be thought 
  of as representative of the audience.
  * The quantitative approach via a survey does not allow for useful follow up questioning to 
  really understand the "why" behind their choices.
  

## Example Scenario
A bank wants to identify which interface design style to use for it's new customer portal. 
A desirability study in this instance would help determine if the designs echo the brand values 
such as trustworthiness, security, and professionalism.

For a deep dive - the following is a good example case study.

<a href="https://www.nngroup.com/articles/young-adults-flat-design/" rel="noopener" target="_blank">
    Young Adults Appreciate Flat Design More than Their Parents Do <span class="show-for-sr">(Opens in a new window)</span></a>

## Useful Resources - Links
 * <a href="https://www.uxmatters.com/mt/archives/2010/02/rapid-desirability-testing-a-case-study.php" rel="noopener" target="_blank">
   Rapid Desirability Testing: A Case Study <span class="show-for-sr">(Opens in a new window)</span></a>
 * <a href="https://www.nngroup.com/articles/microsoft-desirability-toolkit/" rel="noopener" target="_blank">
   Using the Microsoft Desirability Toolkit to Test Visual Appeal <span class="show-for-sr">(Opens in a new window)</span></a>
 * <a href="https://www.xdstrategy.com/desirability-studies/" rel="noopener" target="_blank">
   Desirability Studies: Measuring Aesthetic Response to Visual Designs <span class="show-for-sr">(Opens in a new window)</span></a>

{{/markdown}}
