{{#markdown}}

{{ name }} 
======
 ** Get longitudinal (long-term) contextual behavioural information about how and when 
 your users engage with your product/service or for a new product how potential users might do so.
 **

 This type of study helps to build up a wide range of self-reported contextual information, 
 and can be useful in understanding user habits, behaviours, attitudes, scenarios, routines 
 and pain points with regards to the product.


## In a Nutshell
Identify the user behaviour you're looking to understand, and define the terms of the study. 
Diary studies can typically last from a week to a month but can be longer - it really depends 
on the product and the types of user habits and behaviours you've chosen to investigate.

Study participants (4-6 at a minimum) are briefed and given a diary or camera to record and 
describe aspects of their lives; with respect to a product/service your users are using or one 
a target user group would utilise.

Researchers should provide clear instructions (without being leading) to participants on how 
to make diary entries, so that they stay relevant and it reduces participant fatigue and 
frustration with the process. 

Participants then log entries as frequently as agreed for the study. Logging can be done 
immediately after said activity/experience or a snippet is captured at the time and a larger 
expanded  entry at the day end.

An alternative to the traditional pen and paper diary is an email diary, unlike the paper version 
it allows the researcher to see progress before the study is complete. Private twitter feeds 
can also be used as a mechanism to capture diary entries.

Once the study period is over, participants submit their diaries. After initial analysis, run a 
post-study interview/debrief with each participant to clarify points and ask questions about the 
study to build out the full picture. 

Finally analyse and review the collected data, create a customer journey map and provide insights 
to the initial questions you were investigating.



## When is it Typically Used?
Diary studies are an exploratory tool in your research arsenal, they are best used in the 
early discovery phase of a project to help shape problem definition and identify opportunities 
and user paint points.


## Measures
Generally a qualitative study, mainly attitudinal feedback to tasks and activities in daily 
situational  context.



## Real World Tips
  * Run a pilot study even for a few days to iron out technical and contextual issues before you 
  run the full study.
  * Audio/Video diary entries are easy for participants to create but can take longer to transcribe.
  * Drop out rates on diary studies can be high (~20%) as they are long term commitment - so recruit 
  more users than you need.
  * Participant motivation can waiver during the study, regularly check in without being intrusive.
  * Provide a good user incentive for completing the study, more so than an hours user testing.
  * If you've got diary entries being submitted online daily, review and analyse them so you can track progress.
  * Data analysis can take time, it's recommended to factor this in so you have time to write the report.

## Positives
  * Hands-off research for the most part
  * Relatively economical in gathering a lot of user research data.
  * Gives you a lot of contextual information about the user.
  * Allows you to see user habits and routines.


## Drawbacks
  * Can be time consuming to analyse, review and transcribe a large number of diary entries, not to 
  mention generate a report and identify findings.
  * Quality of entries can vary greatly between participants.
  * Diary studies can have high drop out rates.
  * User fatigue and boredom are common with studies over an extended period.
  * Data is all self-reported, this needs to be clearly highlighted in the report prior to distribution. 
  

## Example Scenario
For a video streaming service, a researcher might want to understand the viewing habits of it's users and ask 
them to log when and where they are watching any audio video media, and whom they might watch with.

They might ask them to record if they had conversations with regards to the show with friends and families 
in person and over social media. 


## Useful Resources - Links
* <a href="https://www.nngroup.com/articles/diary-studies/" rel="noopener" target="_blank">
  Diary Studies: Understanding Long-Term User Behaviour and Experiences <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://www.userinterviews.com/ux-research-field-guide-chapter/diary-studies" rel="noopener" target="_blank">
  Userinterviews.com: Diary Studies <span class="show-for-sr">(Opens in a new window)</span></a>

{{/markdown}}
