{{#markdown}}

{{ name }} 
======
 **Get _real_ contextual feedback by observing product usage 
 behaviour by users in their natural environment.**

 It helps answer questions such as:
  * When do users use the product?
  * Are they doing other things whilst using it?
  * What is the environment like?


## In a Nutshell
Go out to where the study participants reside, and observe them using their product. 
For new products not yet deployed it might simply be to understand the potential usage environment. 

Encourage users to perform tasks as they would and observe what they do, and how they do it. 
Ask questions and include short interviews, but the key here is to observe behaviour in context.


## When is it Typically Used?
This is usually done early in the discovery and problem definition phase of the lifecycle 
to identify pain points and get to the core of what users actually want from a system.


## Measures
Generally a qualitative study, mostly observational data taken in note form.


## Real World Tips
  * Don’t ask leading questions.
  * Ask more open ended questions that fuel them to think more and provide details.
  * Don’t just focus too narrowly on specific issues, as it will cause users to filter 
  our their responses and you can miss key information.
  * Consider the themes that come from results of the study and don't get hung up on 
  anecdotal comments or pet hates of a single user. 


## Positives
  * Get another team member to come along to better understand the user's environment
  * First hand experience observing the user in their natural context allows for unprecedented data capture


## Drawbacks
  * Going out to various user sites can be time consuming.
  * Can take time to analyse the results and produce a report.


## Example Scenario
When designing a new insurance quoting platform for brokers, we may want to learn 
the way insurance brokers use the current insurance systems. You might visit the office 
of an insurance broker to see how they work with the system and their clients.


## Useful Resources - Links
* <a href="https://www.nngroup.com/articles/field-studies-done-right-fast-and-observational/" rel="noopener" target="_blank">
  Field studies done right <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://www.usability.gov/how-to-and-tools/methods/contextual-interview.html" rel="noopener" target="_blank">
  Contextual Interviews <span class="show-for-sr">(Opens in a new window)</span></a>

{{/markdown}}
