{{#markdown}}

{{ name }} 
======
 **Get behavioural information with regards to where a user's attention 
 is during product usage or task execution. **

It helps to answer questions such as:
 * Where are users looking, for how long?
 * Is a users attention focused when performing a particular task?
 * Are there any distractions that might reduce a users focused attention?
 * How should we design interfaces to maximise a user's attention with regards to the primary task?


## In a Nutshell
Users have their eye movements tracked by a camera when using the product, and the resulting 
data is then overlaid onto the interface as a heat map, to give a visual representation of focus hotspots, and areas that don’t get attention.

Another visual representation that’s generated is a saccade pathways map, this outlines 
the eyes movement between areas of focus on the interface.


## When is it Typically Used?
Generally used in the design process to assess design concepts and benchmark existing designs 
to determine where users are looking on the interface.


## Measures
Primarily a qualitative study, even though distinct data points on eye tracking movements 
are gathered the resulting plot and maps generated are effectively descriptive and need 
to be analysed and interpreted. 

Heat maps can generate quantitative data, but again this requires further analysis and interpretation.


## Real World Tips
  * Clarify to users that you're capturing eye movements if its being undertaken during a usability study.
  * Test the eye tracking works in the lab lighting.
  * Keep the test area free from other distractions.
  * Avoid think aloud feedback protocols during aye tracking studies as this will influence the results.
  * Best used with actual designs and not just wireframes.
  * Run a pilot test to ensure the systems are calibrated and working correctly.


## Positives
  * Shows the truth with regards to where a user is actually focusing, not just what 
  the user says they’re focusing on.
  * Shows when is a user is lost and trying to locate an item on the interface.


## Drawbacks
  * Can highlight false positive, users can unconsciously rest their eyes in random areas.
  * Only captures data on focused elements not items seen via peripheral vision.
  * Does not tell you why a user is looking at something.
  * Isn’t always accurate due to individual anomalies (spectacles, contact lenses, etc)


## Example Scenario
When launching a new travel website homepage it would be useful to see how a user can navigate 
the content and begin tasks. Eye tracking studies can be useful in this regard to see if users can 
locate and execute tasks on visual designs.


## Useful Resources - Links
* <a href="https://www.usability.gov/how-to-and-tools/methods/eye-tracking.html" rel="noopener" target="_blank">
  Eye Tracking <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://www.nngroup.com/articles/eyetracking-setup/" rel="noopener" target="_blank">
  Setup of an Eye Tracking Study <span class="show-for-sr">(Opens in a new window)</span></a>

{{/markdown}}
