{{#markdown}}

{{ name }} 
======
 **Get attitudinal user feedback via group discussion sessions 
 early in the discovery process to shape the problem definition.**

 It helps to:
 * Define common issues and pain points
 * Get user attitudes and thoughts toward the product


## In a Nutshell
Bring together roughly 6-12 participants to discuss issues and concerns with regards 
to the product and or it’s feature. Usually demo the product as a starting point before, 
moving into discussions.

Relatively free flow discussion is lead by a moderator that guides the group 
conversation and lasts about 2 hours.

Activities can also be added to the session to make it more interactive, 
such as role playing, card sorting  or picture drawing.

You'll need to run 4-6 groups to identify themes across them, and remove biases.



## When is it Typically Used?
These are usually done early in the discovery and problem definition process, to 
gauge attitudes and thoughts, before lots of design and development is undertaken.


## Measures
Generally a qualitative study, mostly discussion notes taken by observers and moderators.


## Real World Tips
  * Augment focus group data with other user research methods like interviews and 
  usability or field studies to build a full picture.
  * Provide water and snacks to participants along with breaks.
  * Keep all participants involved and contributing and not purely dominated by a few voices.
  * Capture interesting quotes, that can be used to sum up themes.


## Positives
  * Very low cost, as it can be run before having to create any artefacts
  * Identifies what user expectations and desires are, not their needs.


## Drawbacks
  * Only captures what a user says they do, not what they actually do - as you're not observing their behaviour.
  * Can magnify non-issues if a discussion is not moderated well.
  * Biases can easily be introduced with focus groups, due to group dynamics, cultural norms and social etiquettes.


## Example Scenario
When designing a new app to help parents set educational home activities for their 
children - a focus group might be used to discuss the appetite for such an app, when they 
would like to use it and how much they might pay for said product.


## Useful Resources - Links
* <a href="https://www.nngroup.com/articles/focus-groups/" rel="noopener" target="_blank">
  The Use and Misuse of Focus Groups <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://www.interaction-design.org/literature/article/how-to-conduct-focus-groups" rel="noopener" target="_blank">
  How to conduct focus groups <span class="show-for-sr">(Opens in a new window)</span></a>

{{/markdown}}
