{{#markdown}}

{{ name }} 
======
 **Get direct user feedback from on-on-one interviews with regards to a specific topic.**

It helps to answer questions such as:
 * How do they use the product?
 * How do they use technology?
 * What kind of pain points  do they have?
 * What are their motivations and objectives with the product?


## In a Nutshell
A researcher asks individual users questions with regards to a product/topic. 
Sessions shouldn't typically last longer than an hour.

Notes are taken and then later examined to identify common themes that emerge 
between groups of users. 

Interviewees should be grouped by demographic or other relevant attributes to 
add more fidelity when it comes to identifying patterns in the result data.

Sample sizes for interviews can vary greatly with regards to demographic 
splits and other attributes, to get numbers.


## When is it Typically Used?
Usually undertaken in the discovery and definition phase, when clarifying 
who the user really is, their needs and the problem domain.


## Measures
Generally a qualitative study, mainly written answers to verbal questions.


## Real World Tips
  * Useful as a the basis for building personas, and understand the user in more detail.
  * Keep the interview comfortable and flowing, avoid being head down writing notes.
  * Don’t make interviews too long, users get tired.
  * Avoid leading questions
  

## Positives
  * Relatively fast and low cost, as it can be run before having to create any artefacts.
  * Can gather a lot of attitudinal information in a short space of time.
  * Unlike a survey, users give you their undivided attention during interviews.


## Drawbacks
  * Can be time consuming especially if travelling over to client sites to conduct interviews.
  * Interviews are based on recall, and users aren't always good at doing this with clarity.


## Example Scenario
Before launching a new faster broadband package, it would be useful who would pay for 
and use a super high speed service. Interviews could be a good way to identify these types 
of individuals, so products and services could be designed to meet their needs and expectations. 


## Useful Resources - Links
* <a href="https://www.nngroup.com/articles/user-interviews/" rel="noopener" target="_blank">
  User Interviews: How, When, and Why to Conduct Them <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://www.interaction-design.org/literature/article/how-to-conduct-user-interviews" rel="noopener" target="_blank">
  How to conduct user interviews <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://theuxreview.co.uk/user-interviews-the-beginners-guide/" rel="noopener" target="_blank">
  User Interviews - The beginners guide <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://uxdesign.cc/asking-the-right-questions-on-user-research-interviews-and-testing-427261742a67" rel="noopener" target="_blank">
  Asking the right questions during user research, interviews and testing <span class="show-for-sr">(Opens in a new window)</span></a>

{{/markdown}}