


<div class="full reveal" id="lab" data-reveal data-animation-in="slide-in-up ease-in" data-animation-out="slide-out-down ease-out" aria-labelledby="heading-title">
    <h1 id="heading-title">{{ modal_lab.heading }}</h1>
    <h2>What is it?</h2>
    <p>{{{ modal_lab.purpose_headline }}}</p>

    <h2>How can it help?</h2>
    <p>Lots of ways</p>

    <h2>Typical cohort size</h2> 
    <p>Cohort size</p>

    <h2>Formal methods</h2>
    <p>Stat analysis, useful tools</p>

    <button class="close-button" data-close aria-label="Close" type="button">X</button>
</div>