{{#markdown}}

{{ name }} 
======
 **Just like usability lab studies, they can uncover usability issues with your product, 
 identify why a product feature may or may not be working - but all done remotely with video conferencing.**

It helps to answer questions such as:
 * Can the product be used with ease? 
 * What parts work or don't work for the user?
 * Do users understand the product?
 * Are they using it as intended?


## In a Nutshell
User and researcher are located in disparate locations, sessions are run using video 
conferencing software with screen sharing and recording capabilities. 
Otherwise these are very similar in structure to a usability lab study.

Researcher presents the user with scenarios which naturally lead to tasks that 
interact with the product or feature.

Users can be asked to verbalise their thoughts during the session which will be 
recorded with their device camera - along with their screen interaction behaviour.

A cohort of 6-10 participants will usually be enough to identify the main usability issues. 


## When is it Typically Used?
Moderated remote usability testing is usually done in the design process to identify 
usability issues with the product from user flows through to micro interactions.

Prototypes can work just as well, just make sure you have a clear hypothesis to test.


## Measures
Generally a qualitative study, some metrics that can be captured include, 

| Measure           | Details                                |
| ----------------- |:---------------------------------------| 
| **Task success**  | Full, Partial, Incomplete successes    |
| **Error rate**    | Number of errors per task              |
| **Time on task**  | Time taken to complete task            |
| **Efficiency**    | Task completion rate / task time       |
| **Learnability**  | Improvement in time on task over time  |

Don't report numbers from small studies as it will not yield a statistically significant result that can be applied to the population.


## Real World Tips
 * Test the software you use for screen recording and video conferencing prior to the session. Become familiar with the participant interface as well, so you can diagnose and resolve any tech issues quickly.
 * If possible ask participants to install and test any specific software they need prior to the session.
 * Run a pilot session to identify and iron out any common pitfalls.
 * As a researcher turn off all notifications on your computer/phone to avoid any distractions.
 * Find a quiet place to run the session, participants should not hear distracting background noises. 
 * If other participants are joining to listen in on the sessions, ensure they don’t turn their microphones on.
 * Keep sessions short (~30min) to avoid fatigue.
Recruit more participants, as drop-out rates can be higher with remote studies. 
  

## Positives
 * Sessions can be cheap to run and easier to schedule as user's don’t need to come into a lab.
 * As a participant is using their own device, researchers can see a user's system setup.
 * Allows you to test with users anywhere in the world, and not just those located near your offices or other central areas.
 * Tests can be setup quickly, as there are large pools of users available and ready to test.


## Drawbacks
 * Requires more planning to run remote sessions, to ensure the scripts and tech are working as expected.
 * Can’t see a user's body language via their device camera, which can reveal a lot about their behaviour.
 * Can be trickier to manage when to prompt and interject when a user is confused or  just thinking and need more time. There are fewer cues to pick up on than when you're in both in the same room.


## Example Scenario
During the design process for building a new client portfolio management system for financial advisers - 
the updated interface would need usability testing to identify any issues. A remote moderated usability study 
would be a quick way to test core tasks an adviser would need to do to help validate the new interface designs.


## Useful Resources - Links
* <a href="https://www.nngroup.com/articles/remote-usability-tests/" rel="noopener" target="_blank">
  Remote Usability Tests: Moderated and Unmoderated <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://www.nngroup.com/articles/moderated-remote-usability-test/" rel="noopener" target="_blank">
  Remote Moderated Usability Tests: How and Why to Do Them <span class="show-for-sr">(Opens in a new window)</span></a>

{{/markdown}}
