{{#markdown}}

{{ name }} 
======
 **A co-operative design _strategy_ that bring customers into the design process.**

 It shifts the idea of designing _for_ a user group, to _with_ a user group - 
 for a more user centric approach.


## In a Nutshell
This is not a single activity but a strategic approach whereby users are brought 
into the discovery and design phase to contribute to product design.

This would typically involve workshops whereby users are brought into the design process 
to help in the design ideation process. User ideas would not necessarily be developed into 
products (they're not designers), but the process can inform the product designer with regards 
to the way in which users perceive the problems domain and their mental model.


## When is it Typically Used?
Can run through the design process, but mainly in the execution part of the process.

Useful when you might have a disconnect with the product development team and the 
end user (this can be the case in specialist expert systems).


## Measures
Users provide feedback, and contribute to design thinking methods. 


## Real World Tips
  * Users inform the design process, they don’t make product design decisions.
  * Keep activities engaging, simple and focused with users, remember they’re not designers.
  

## Positives
  * Keep close with the voice of the user through the design process
  * Reduces risk of product failure when launching to a target market


## Drawbacks
  * Not always easy to have users on hand to join workshop sessions.
  * Can be time consuming involving users in workshops and testing when timelines are short.
  


## Example Scenario
When designing an internal online examination system for schools - teachers, 
and senior staff might be brought into workshops to show the types of things they would expect to 
see from a results dashboard.


## Useful Resources - Links
* <a href="https://gamestorming.com" rel="noopener" target="_blank">
    Gamestorming - techniques for co-creation workshops <span class="show-for-sr">(Opens in a new window)</span></a>

{{/markdown}}

