{{#markdown}}

{{ name }} 
======
 ** Get focused user feedback on a particular site/application feature or journey, 
 using automated remote testing tools.
 **

 It can help to answer:
  * Do users understand how to use the system and complete a specific task?
  * What parts work or don't work for the user?
  * Do user use the system as intended?
 

## In a Nutshell
Unmoderated usability test sessions are completed by the participant on their own 
without any assistance from a researcher. They are best used to test the usability of 
specific task based journeys or features and would be far shorter in duration that a 
moderated UX study.

Researchers typically use a tool such as UserTesting, UserZoom or similar - to setup a survey. 
The survey contains a series of tasks which the participant then goes on to complete using the 
aforementioned product or a prototype provided within, whilst talking-aloud. Participants 
are also asked to install software that allows their reactions to be captured for the session duration.

These surveys are sent to participants, whom have to complete the test before a specified 
deadline. Results are subsequently analysed by the researcher, and insights drawn.


## When is it Typically Used?
Used during the execution/build phase of the product lifecycle to quickly test the usability 
of a specific feature. Usually as an alternative to a moderated usability session.


## Measures
Measures depend on the study goals, if  determining the speed at which a user can complete a 
specified task  - time on task, would be a key measure. 

Conversely if the aim is to understand why a process is confusing users, the measures would 
be more qualitative and the A/V recordings from the test sessions would be more important.


## Real World Tips
 * Keep tests simple, and focused. Long tests will cause fatigue, and participants may get confused.
 * Use clear concise unambiguous language in the survey questions and instructions - so they can 
 be easily followed. But be careful not to drop hints on how to complete the task itself.
 * Run a pilot study to iron out the small practical elements that can easily get  overlooked.
 * Unmoderated UX studies can be run quickly, and generate a lot of data points and artefacts, 
 allocate sufficient  time to analyse and organise the results.
 * Recruit more users than a typical usability study as drop out rates can be higher due to 
 low commitment requirement of completing a survey.
 * Run statistical analysis tests to asses the significance of results.
 * Plan meticulously and pilot test to avoid a study full of poor test sessions.
 

## Positives
  * Participants complete tests on their own device, so can better reflect how the users may 
  actually perform, and provides context of their tech setup.
  * Good for getting insights quickly.
  * Relatively cheap to run, even with larger numbers.
  * If testing outside of a B2B context, tests can even be sent out on Friday and a completion 
  deadline set for Monday morning.
  * Access to participants from anywhere - nationally or globally.
  
  
## Drawbacks
  * Participants may forget to talk aloud and sessions can be quiet.
  * Lack of any intervention can mean participants can get lost during task completion.
  * Remote studies have high drop out rates. 
  * It will take time to watch all the session videos and take notes.
  
  
## Example Scenario
An online grocery store may want to see how users pick a delivery slot using a newly 
designed slot picker.

Participants would be provided with a short survey with tasks that are to be completed 
along with links to the picker prototype. They would be asked to describe their thought 
process out loud while completing the survey.

Once completed the results would be sent to the researcher who would review and collate 
them for analysis.


## Useful Resources - Links
* <a href="https://www.nngroup.com/articles/unmoderated-usability-testing/" rel="noopener" target="_blank">
  Unmoderated User Tests: How and Why to Do Them <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://blog.optimalworkshop.com/5-reasons-to-consider-unmoderated-user-testing/" rel="noopener" target="_blank">
  5 reasons to consider unmoderated testing <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://www.nngroup.com/articles/unmoderated-user-testing-tools/" rel="noopener" target="_blank">
  Tools for Unmoderated Usability Testing <span class="show-for-sr">(Opens in a new window)</span></a>

{{/markdown}}
