{{#markdown}}

{{ name }} 
======
 **Remotely capture simple behavioural product interaction insights from a trained panel of users, 
 all without moderation from a researcher. Software installed on the participant's device records 
 the interaction - screen and audio/video.**

 It helps to answer more _specific_ questions such as:
 * Is this particular function/feature usable?
 * Does the proposed interaction paradigm work for our users? 
 * What parts work or don't work for the user?
 * Do users understand the feature/function?
 * Are they using it as intended?



## In a Nutshell
A user panel is formed that will partake in the study, these users will be briefed about 
how to engage in testing remotely. 

Each participant will have to install software on their device that captures screen 
interaction along with audio/video to record their reactions and expressions during usage. 
The captured data is then immediately available for the researcher to analyse and interpret. 

Participants are sent an email to ask if they can partake in the study and given a window 
of time to complete the testing.

Unmoderated remote panel sessions usually only consist of a few tasks to complete and are 
kept short, as there is no way to moderate users that go off track.

Study sizes need to be larger for remote usability testing as there are higher drop-out rates 
and a greater chance for erroneous data due to questions being misunderstood and tasks not 
completed properly.

Once the window for testing is complete, the researcher can review and analyse the session data.


## When is it Typically Used?
Unmoderated remote panel studies are usually done in the design process, 
usually to ratify and validate key design decisions.

Tests can be performed on live systems or prototypes. 


## Measures
Generally a qualitative study, some metrics that can be captured include, 

  | Measure           | Details                                |
  | ----------------- |:---------------------------------------| 
  | **Task success**  | Full, Partial, Incomplete successes    |
  | **Error rate**    | Number of errors per task              |
  | **Time on task**  | Time taken to complete task            |
  | **Efficiency**    | Task completion rate / task time       |
  | **Learnability**  | Improvement in time on task over time  |
    
Don't report numbers from small studies as it will not yield a statistically significant 
result that can be applied to the population.


## Real World Tips
  * There a number of commercially available tools, that can be used on desktop and mobile devices. 
  See: [Tools for Unmoderated Usability Testing](https://www.nngroup.com/articles/unmoderated-user-testing-tools/)
  * Keep tests specific and short, ensure scripts are self-explanatory and easy to understand.
  * Like any user study it is worth pilot testing to iron out any issues.
  

## Positives
  * Sessions are relatively cheap to run and tests are completed by panel members on their own time 
  within your allotted time frame.
  * Remote testing allows for the panel to be from a specific region or geographically dispersed.
  * Can pull in larger numbers of participants and generate quantitative feedback if desired. 

## Drawbacks
  * Users may not talk aloud even when your script has clear guidance. This can result in 
  poor quality data being generated.
  * No moderation means scripts need to be very specific and clear, to prevent users misinterpreting what is asked of them.


## Example Scenario
For an e-commerce retailer identify any usability issues for a newly updated search widget on the home page.

This would involve the user being asked to perform a number of searches from this starting point; also 
consider using the existing interface as a comparative benchmark.


## Useful Resources - Links
* <a href="https://www.nngroup.com/articles/unmoderated-user-testing-tools/" rel="noopener" target="_blank">
  Tools for Unmoderated Usability Testing <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://www.interaction-design.org/literature/article/unmoderated-remote-usability-testing-urut-every-step-you-take-we-won-t-be-watching-you" rel="noopener" target="_blank">
  Unmoderated Remote Usability Testing <span class="show-for-sr">(Opens in a new window)</span></a>

{{/markdown}}
