{{#markdown}}

{{ name }} 
======
 **Discover usability issues with your product, 
 identify _why_ a product feature may or may not be working.**

Can help answer questions such as: 
  * Can the product be used with ease? 
  * What parts work or don't work for the user?
  * Do users understand the product?
  * Are they using it as intended?


## In a Nutshell
Users are brought into a lab (a quiet private room) where a 
researcher will present them with task based scenarios that naturally 
lead to an interaction with the product or feature to be tested.

Users can be asked to verbalise their thoughts during the session 
which will be recorded along with their interaction behaviour by the researcher.

A cohort of 6-10 participants will usually be enough to identify the 
main usability issues. 


## When is it Typically Used?
Usability lab testing is usually done in the design process to identify 
usability issues with the product, from user flows through to micro interactions.

Prototypes can work just as well as the actual product, just make there is a clear hypothesis to test.


## Measures
Generally a qualitative study, some metrics that can be captured include,

| Measure           | Details                                |
| ----------------- |:---------------------------------------| 
| **Task success**  | Full, Partial, Incomplete successes    |
| **Error rate**    | Number of errors per task              |
| **Time on task**  | Time taken to complete task            |
| **Efficiency**    | Task completion rate / task time       |
| **Learnability**  | Improvement in time on task over time  |


Don't report numbers from small studies as it will not yield a statistically significant 
result that can be applied to the population.


## Real World Tips
  * Setup a clear hypothesis with regard to what you want to test.
  * Define clear user goals, and couple these with realistic actionable tasks that a user can undertake.
  * High fidelity prototypes can provide better user feedback (again this is dependent on what you're testing)
  * Add in short interviews to capture contextual user information
  * Always have a stand-by for a no show
  * Mitigate user fatigue, avoid making sessions longer than an hour.

Run a pilot test with a team member, to give the script a go and test tasks and durations.


## Positives
  * Test with prototypes early in the design phase to improve the product even before release.
  * Sessions are relatively cheap to run.
  * Capture rich user feedback.

Allows the entire team to get closer to the user.


## Drawbacks
  * Remember small sample sizes provide indication of issues, and individual comments that 
  don’t form a theme can easily mislead.
  * Lab environments don’t reflect real world contexts, so this needs to be considered especially 
  for products like  mobile apps.
  * Overheads of organising and recruiting users.
  * Identifies usability issues, but doesn't always give a true sense of severity of the issue for users.
  * Can take time to run sessions and consolidate feedback.


## Example Scenario
Test a new checkout payment flow and page.
  * Setup a scenario - where by a user finds an item and pays for it.
  * Provide a fake credit card, address details and such they can enter.  
  * Observe the paths they take and their thought process using a talk aloud protocol 
  (i.e. making them speak their thoughts during decision making)
  * Record the session for further review. 
  
Rinse and repeat for all participants.

## Useful Resources - Links

* <a href="https://www.usability.gov/how-to-and-tools/methods/running-usability-tests.html" rel="noopener" target="_blank">
  Tips on running a usability test <span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://www.nngroup.com/articles/task-scenarios-usability-testing/" rel="noopener" target="_blank">
  Guidelines for usability test tasks<span class="show-for-sr">(Opens in a new window)</span></a>
* <a href="https://uxmastery.com/beginners-guide-to-usability-testing/" rel="noopener" target="_blank">
  Beginners guide to usability testing<span class="show-for-sr">(Opens in a new window)</span></a>
  
{{/markdown}}
